.icon{
  background-image: url('/temp/sprite/css/{{{sprite}}}');
  display: block;
}

{{#shapes}}
  .icon--{{base}} {
    width: {{width.outer}}px;
    height: {{height.outer}}px;
    background-position: {{position.relative.xy}};
  }
{{/shapes}}