<p>
    <strong>
        DE UNA PARTE: 
    </strong>
    {{ contract.vendedor | raw('html')}}, que en lo sucesivo se denominar&aacute; el
    <strong>
        VENDEDOR
    </strong>
    , representada en este acto por 
    
       {{ contract.representanteVendedor | raw}}
    
    , seg&uacute;n acredita con el poder correspondiente y con facultades para este acto
    <strong>
        .
    </strong>
</p>
<p>
    <strong>
        DE OTRA PARTE
    </strong>
    : La Empresa Importadora-Exportadora de Objetivos Electroenerg&eacute;ticos ENERGOIMPORT, constituida al amparo de lo dispuesto en la Resoluci&oacute;n No. 117 del primero de Diciembre de 1977, dictada por el Ministro de Comercio Exterior, con domicilio legal en Amenidad No. 124 e/ Nueva y 20 de Mayo, Municipio Cerro, La Habana, Cuba, e inscrita en el Registro Mercantil en el Libro-EP, Tomo I, Folio 60, Hoja 4, con cuenta bancaria 32101433700 en el Banco Internacional de Comercio, BICSA, sito en 20 de Mayo y Ayestar&aacute;n, que en lo adelante se denominar&aacute; el
    <strong>
        COMPRADOR,
    </strong>
     representada en este acto por el
    <strong>
        Ing. Rafael E. Lage P&eacute;rez
    </strong>
    en su car&aacute;cter de
    <strong>
        Director General
    </strong>
     y por el
    <strong>
        Sr. Pedro Manuel Iglesias
    </strong>
     en su car&aacute;cter de
    <strong>
        Director UEB Redes
    </strong>
    , ambos con facultades suficientes para este acto.
</p>
<p>
    <strong>
        AMBAS PARTES
    </strong>
     reconoci&eacute;ndose la respectiva personalidad y representaci&oacute;n con que concurren acuerdan firmar el presente
    <strong>
        Contrato
    </strong>
    bajo los t&eacute;rminos y condiciones siguientes:
</p>