{% set val_sub_clausula = 1 %}
<p style="text-align: center;">
    <strong>
        CLAUSULA {{ clausulas[val_clausula]}}
    </strong>
</p>
<p style="text-align: center;">
    <strong>
REGULACIONES AMBIENTALES 
    </strong>
</p>


<p>
    <strong>
       {{val_clausula }}.{{val_sub_clausula}}
       {% set val_sub_clausula = val_sub_clausula + 1 %}
    </strong>
     El
    <strong>
        VENDEDOR
    </strong>
     se obliga a que las mercanc&iacute;as objeto del presente Contrato cumplan con las exigencias y regulaciones medioambientales de Cuba y de su pa&iacute;s, en el caso de que no exista norma o legislaci&oacute;n cubana aplicable.
</p>