body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

*::selection{
    background-color: rgba($mainGreen, .45);
    color: white;
}

h1, h2, h3, h4, h5, h6, p, a, label, li, span{
    line-height: 1.35;
    color: $textColor;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Slab', sans-serif;
}

p, a, label, li, span {
    font-size: 1.05em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a{
    color: white;
    text-decoration: none;
}


