.footer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &__image{
        position: relative;
        overflow: hidden;
        width: 100%;

        &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 3em;
            background: linear-gradient(#fff, #f7f7f7);
            z-index: 1;

            @mixin atLarge{
                height: 5em;
            }

        }

        & img {
            top: 3em;
            position: relative;
        }
    }

    &__contact{
        position: absolute;
        width: 100%;
        background-color: rgba($mainDark, .7);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5em 0;

        flex-wrap: wrap;

        @mixin atLarge{
            flex-wrap: nowrap;
            justify-content: space-around;

        }

        & address{
            color: white;
            width: 80%;
            margin-bottom: 1em;

            @mixin atLarge{
                width: auto;
                margin-bottom: auto;
            }
        }

        & .social{
            width: 100%;


            & ul{
                display: flex;
                margin: .25em;
                padding: 0;
                justify-content: center;

                @mixin atLarge{
                    justify-content: unset;
                }


                & li{
                    display: inline;
                    list-style: none;
                    margin: auto .5em;

                    & img{
                        width: 1.5em;
                    }
                }
            }

            @mixin atLarge{
                width: auto;
            }
        }
    }
}