.parallax{
    height: 75vh;
    position: relative;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-image: url("../img/parallax.png");

    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(red, .1);
    }
}

.more_places{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($mainDark, .3);
    }

    &__content{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 1;

        & > div{
            margin: 1em;
        }

        &__title{
            width: 100%;

            & h2{
                margin: 0;
            }
        }

        &__places{
            display: flex;
            justify-content: center;
            width: 100%;

            & ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                & li{
                    margin: 1em;
                    display: inline;
                    list-style: none;
                    color: white;
                    text-shadow: $mainSoftDark 2px 2px 10px;
                    transition: text-decoration .3s ease-in-out;


                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }

        &__button{
            display: flex;
            width: 100%;
            justify-content: center;
        }
    }
}