.why_with_us{
    margin: 5%;

    &__cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__item{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            @mixin atMedium{
                width: 45%;
            }

            @mixin atLarge{
                width: 20%;
            }

            &__text{
                width: 100%;
                text-align: center;
                display: flex;
                align-items: center;

                & a{
                    text-decoration: underline;
                    color: $mainSoftDark;
                }
            }
        }
    }
}