@import "normalize.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700');
@import "base/_variables.scss";
@import "base/_mixins.scss";
@import "base/_global.scss";

@import "modules/_form.scss";
@import "modules/_buttons.scss";
@import "modules/_titles.scss";

@import "modules/_header.scss";
@import "modules/_main.scss";
@import "modules/_reservation.scss";
@import "modules/_section.scss";
@import "modules/_activities.scss";
@import "modules/_why_with_us.scss";
@import "modules/_more_places.scss";
@import "modules/_contact_faq.scss";
@import "modules/_footer.scss";


