<div class="col-md-12">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>
<style>
.help-block{color: gray; font-size:90%}
</style>