{% extends 'frontend/base.html.twig' %}
{% block javascripts_defer %}
    <script src="{{ asset('scripts/Index.js') }}" defer></script>
{% endblock %}

{% block title %}{% trans %}Hello World{% endtrans %}{% endblock %}

{% block body %}
   
           
        <section id="why_with_us" class="why_with_us section">

            <div class="section__description">
                <div class="title title--center">
                    <h2>Why with us?</h2>
                </div>
                <div class="section__description__text">
                    <p>
                        There are many options out there, but ...
                    </p>
                </div>

            </div>

            <div class="why_with_us__cards">

                <div class="why_with_us__cards__item">
                    <div class="why_with_us__cards__item__text">
                        <p>We have been in the top five of
                            <a target="_blank" href="https://www.tripadvisor.com/Attraction_Review-g147271-d13554747-Reviews-Taxi_Drivers_Cuba-Havana_Ciudad_de_la_Habana_Province_Cuba.html">
                                    <b>TRIPADVISOR</b>
                            </a>
                            for more than a year.
                        </p>
                    </div>
                </div>

                <div class="why_with_us__cards__item">
                    <div class="why_with_us__cards__item__text">
                        <p>We offer <b>PUNCTUALITY</b> with a
                            <b>COMPETITIVE PRICE</b>
                            and <b>COMFORT</b></p>
                    </div>
                </div>

                <div class="why_with_us__cards__item">
                    <div class="why_with_us__cards__item__text">
                        <p>We can make a reservation in advance to
                            <b>RIDE HORSES</b> or <b>LUNCH</b>
                            making this an unique experience</p>
                    </div>
                </div>

                <div class="why_with_us__cards__item">
                    <div class="why_with_us__cards__item__text">
                        <p> <b>BABIES</b> ...,
                            <b>WHEELCHAIRS</b> ...,
                            at no additional cost
                    </div>
                </div>

            </div>
        </section>

        


{% endblock %}
